extend layout

block head
  link(href="/css/index.css" rel="stylesheet")

block content
  section#slide-show.owl-carousel.owl-theme
  section#Affiliate.border
    a(target='_blank' href='http://www.christiesrealestate.com/eng')
      img#Affiliate-img.text-center(src='/img/2013.png')
  section
    .container#index-mid
  section.border
  section#featured
    .container
      .row
        h2.sub-heading.text-center FEATURED PROPERTIES
        h6.link.text-center
          a(href='http://idx.hklane.com/featured/51244') SEE ALL
        #featuredProp

block scripts
  script
    :coffee-script
      wpServer = 'http://hklane2015.uptowncreativeinc.com/wp-json/wp/v2'
      nC = (x) -> x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      sD = (x) -> x.replace(/\s+/g, '-')
      featureProp = $ '#featuredProp'
      $.get '/api/feature/SFR'
        .then (data)->
          for {mlsid, house_numb, street_nam, city_name, state, zip, listingnumber, ihfphotourl, list_price} in data
            item =
              "
                <div class='property col-md-4'>
                  <a href='http://hklane.idxre.com/homes/#{mlsid}/51244/#{sD(house_numb)}-#{sD(street_nam)}-#{sD(city_name)}-#{sD(state)}-#{sD(zip)}/#{listingnumber}'>
                    <img src='#{ihfphotourl}'>
                  </a>
                  <h4 class='text-center'>
                    $ #{nC(parseInt(list_price))}
                  </h4>
                  <p class='paragraph text-center'>
                    #{house_numb} #{street_nam} <br> #{city_name}, #{state} #{zip}
                  </p>
                  <h6 class='link text-center'>
                    <a href='http://hklane.idxre.com/homes/#{mlsid}/51244/#{sD(house_numb)}-#{sD(street_nam)}-#{sD(city_name)}-#{sD(state)}-#{sD(zip)}/#{listingnumber}'>
                      MORE
                    </a>
                  </h6>
                </div>
              "
            featureProp.append $(item)
          $("#featuredProp").owlCarousel {
            pagination: true,
            loop: true,
            autoPlay: 5000,
            items: 3,
            itemsTablet: [1200,2],
            itemsMobile: [768,1]
          } 
          $(".loader").fadeOut("slow");

  script.
    var wpServer = 'http://hklane2015.uptowncreativeinc.com/wp-json/wp/v2';
    $.getJSON(wpServer + '/pages/186', function(data){
      var images = $(data.content.rendered);
      var slideShow = $("#slide-show");
      slideShow.append(images);
      slideShow.css({opacity: 1});
      slideShow.owlCarousel( {
                        pagination: false,
                        loop: true,
                        autoPlay: 5000,
                        singleItem: true,
                      });
      function cropSlide() {
        var wid = $(window).width();
        var ratio = 1600/602;
        var height = wid/ratio;

        if(wid > 1600){
          $('#slide-show .item').css({
            "width" : "100%",
            "height" : "602px"
          });
          $('#slide-show img').css({
            "width":"100%",
            "height":"auto",
            "margin": (602-height)/2 + "px 0px 0px 0px"
          });
        } else if( wid <= 1600 && wid > 992){
          $('#slide-show .item').css({
            "width" : "100%",
            "height" : "602px"
          });
          $('#slide-show img').css({
            "width":"1600px",
            "height":"602px",
            "margin": "0px 0px 0px " + (wid-1600)/2 + "px"
          });
        }else if( wid <= 992 && wid > 930){
          $('#slide-show .item').css({
            "width" : "100%",
            "height" : "350px"
          });
          $('#slide-show img').css({
            "width": wid+"px",
            "height": height+"px",
            "margin": (350-height)/2 + "px 0px 0px 0px"
          });
        }else if( wid <= 930){
          $('#slide-show .item').css({
            "width" : "100%",
            "height" : "350px"
          });
          $('#slide-show img').css({
            "width": (350*ratio)+"px",
            "height": "350px",
            "margin": "0px 0px 0px " + (wid-(350*ratio))/2 + "px"
          });
        }
      }

      cropSlide();

      $(window).resize(cropSlide);
    });
    $.getJSON(wpServer + '/pages/5', function(data){
      var content = $(data.content.rendered);
      var section = $("#index-mid");
      section.append(content);
      section.css({opacity: 1});
    });
